.my-main-view {
  bottom: 5px;
  right: 0;
  z-index: 9999999;
  position: fixed;
  width: 450px;
  transition: width 0.1s ease-in-out;
  color: #000;
}

.blLabel {
  font-size: 10px;
  color: #e69c52;
  cursor: not-allowed;
}

.blBtn {
  cursor: not-allowed;
  margin-right: auto;
  display: flex;
  gap: 5px;
  align-items: center;
  position: absolute;
  right: 75px;
  top: 6px;
}

.bl-chat {
  top: -34px;
}

.collapse-button {
  cursor: pointer;
  font-size: 20px;
  text-shadow: -2px -0.5px 3px #13111180;
  font-size: 20px;
  display: flex;
  width: 18px;
  position: absolute;
  right: 30px;
  background: #ecececba;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  top: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.chat {
  top: -40px;
}

.collapsed .collapse-button {
  width: 30px;
  transform: rotate(180deg);
  border-radius: 0px 40% 54% 0;
  padding: 5px;
  right: 0px;
  top: 10px;
}


.my-view {
  margin: 15px;
  width: 380px;
  padding: 50px 20px;
  height: 200px;
  overflow-y: auto;
  scroll-behavior: auto;
  background: #f3f3f3b8;
  border-radius: 15px;
  resize: vertical;
  box-shadow: -8px 3px 10px #00000075;
  margin-bottom: -25px;
  cursor: text;
  transition: width 0.1s ease-in-out;
}

.my-bot-view {
  transition: width 0.1s ease-in-out;
  margin: 15px;
  width: 380px;
  height: 250px;
  top: 0;
  right: 0;
  z-index: 9999999;
  position: absolute;
  background: #f3f3f3b8;
  padding: 20px;
  overflow: hidden;
  border-radius: 15px;
  resize: vertical;
  box-shadow: -8px 3px 10px #00000075;
  color: #000;
}

.my-btns {
  display: flex;
  width: 350px;
  overflow: scroll;
  gap: 20px;
  padding: 0 10px 5px 10px;
  text-wrap: nowrap;
}

.my-btn {
  font-size: 14px;
  width: auto;
  width: fit-content;
  padding: 0 10px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 0px 4px 0px;
  background: white;
  cursor: pointer;
  border-radius: 15px;
  margin-bottom: 8px;
  resize: true;
  box-shadow: 0px 2px 10px #00000075;
}

#myClrBtn {
  margin-left: auto;
  margin-right: 30px;
  width: auto;
}

.my-btn-view {
  display: flex;
  align-items: inherit;
  justify-content: initial;
}

.alert-msg {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  color: #e80000;
  justify-content: center;
  height: 15px;
}

.label-history {
  font-size: 12px;
  cursor: text;
  color: #171717;
}

.p-history {
  display: flex;
  align-items: start;
  justify-content: start;
  margin: 5px 0;
}

.container-history {
  cursor: pointer;
}

.my-checkbox {
  margin-top: 2px;
  cursor: pointer;
}

.iOzk7 {
  margin-left: -120px !important;
}

.my-header {
  width: 400px;
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  cursor: grab;
  border-radius: 25px 25px 0 0;
  background: #c6c9cc;
  top: 0;
  right: 0;
  margin-right: 13px;
  padding: 0 11px;
  transition: width 0.1s ease-in-out;
}

.my-header img {
  cursor: pointer;
  width: 25px;
  height: 21px;
}

.my-bot-view.collapsed {
  width: 0 !important;
  padding: 0 !important;
  top: 0 !important;
  right: 0 !important;
  left: auto !important;
  top: auto !important;
}

.my-main-view.collapsed {
  bottom: 5px !important;
  right: 0 !important;
  left: auto !important;
  top: auto !important;
}

.collapsed .my-actors {
  display: none;
}

.collapsed .my-bot-header {
  width: 0 !important;
  padding: 0 !important;
}

.collapsed .my-header {
  width: 0 !important;
  padding: 0 !important;
}

.collapsed #myExportBtn {
  display: none;
}

.collapsed .blBtn {
  display: none;
}

.my-actors {
  margin-right: 5px;
  background: rgba(235, 235, 235, 0.85);
  padding: 5px 10px;
  border-radius: 11px;
  cursor: pointer;
  position: relative;
}

.my-dropdown {
  flex-direction: column;
  position: absolute;
  top: 30px;
  background: rgba(235, 235, 235, 0.85);
  right: 0;
  border-radius: 5px;
  gap: 5px;
}

.my-dropdown span {
  padding: 5px 10px;
  cursor: pointer;
  white-space: nowrap;
}

.my-dropdown span:hover {
  background: rgba(220, 219, 219, 0.85);
}

#myExportBtn {
  width: 17px;
  transform: rotate(90deg);
  display: flex;
  padding: 8px 5px;
  align-items: center;
  justify-content: center;
  height: 35px;
  cursor: pointer;
  width: 18px;
  text-shadow: -2px -0.5px 3px #13111180;
}

@media print {
  body {
    visibility: visible;
  }

  #exportButton {
    display: none;
  }
}

.my-bot-header {
  height: 38px;
  width: 417px;
  min-width: 425px;
  margin-right: 0;
  padding: 0;
  border-radius: 10px 10px 0 0;
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  cursor: grab;
  background: #c6c9cc;
  top: 0;
  right: 0;
  transition: width 0.1s ease-in-out;
}

.my-content-bot-view {
  cursor: text;
  overflow: auto;
  height: 100%;
  margin-top: 24px;
  scroll-behavior: smooth;
}

.my-input {
  margin: 0px 20px 10px;
  width: 396px;
  border-radius: 7px;
  padding: 5px;
  transition: width 0.1s ease-in-out;
}

.my-editable-input {
  background: rgba(255, 254, 254, 0.722);
  padding: 10px;
  overflow-y: auto;
  height: calc(100% - 51px);
  margin-bottom: 9px;
  scroll-behavior: auto;
}

.my-paginator-view {
  display: flex;
  gap: 5px;
  height: 21px;
  align-items: center;
  justify-content: end;
  margin-top: -10px;
  background: #e4e3e3;
  width: fit-content;
  margin-left: auto;
  padding: 0px 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #00000087;
  z-index: 99;
  position: absolute;
  right: 13px;
}

.my-paginator-view .btn {
  cursor: pointer;
  padding: 0 5px;
}

.my-selected-input {
  margin: 0px 20px 10px;
  border-radius: 7px;
  border: 1px solid rgb(119 46 0);
  padding: 4px 4px;
  height: 17px;
  box-shadow: 1px 1px 1px #000;
  background: #dbdbdb;
  font-size: 12px;
  max-width: 400px;
  white-space: nowrap;
  overflow: scroll;
  display: flex;
  align-items: center;
}

.my-selected-input::-webkit-scrollbar {
  height: 0;
  width: 0;
}